In [2]:
import pandas as pd

# Loading the dataset
geo_data = pd.read_csv(r"geolocational_data.csv")
data = pd.read_csv(r"food_coded.csv") 

# Display the first few rows
data.head()

,Name,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,1,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,2,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,4,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,5,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

In [3]:

# Drop rows with missing values
data_cleaned = data.dropna()

# Fill NaN values with zeros

In [5]:

data_filled = data.fillna(0)

In [6]:
# Forward fill missing values
data_ffill = data.fillna(method='ffill')

C:\Users\191210v\AppData\Local\Temp\ipykernel_28740\2954802321.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data_ffill = data.fillna(method='ffill')

In [7]:
# Backward fill missing values
data_bfill = data.fillna(method='bfill')

C:\Users\191210v\AppData\Local\Temp\ipykernel_28740\807314532.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data_bfill = data.fillna(method='bfill')

In [8]:
# Remove duplicates
data_no_duplicates = data_ffill.drop_duplicates()

In [9]:
# Check available columns first
print(data_no_duplicates.columns.tolist())

['Name', 'GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day', 'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons', 'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1', 'cuisine', 'diet_current', 'diet_current_coded', 'drink', 'eating_changes', 'eating_changes_coded', 'eating_changes_coded1', 'eating_out', 'employment', 'ethnic_food', 'exercise', 'father_education', 'father_profession', 'fav_cuisine', 'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day', 'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal', 'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food', 'italian_food', 'life_rewarding', 'marital_status', 'meals_dinner_friend', 'mother_education', 'mother_profession', 'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out', 'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food', 'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day', 'vitamins', 'waffle_calories', 'weight']

In [10]:

# Select specific columns for analysis (only if they exist)
columns_to_use = ['cook', 'eating_out', 'employment', 'ethnic_food']
cleaned_data = data_no_duplicates[columns_to_use].copy()

In [11]:

# Display first few rows
cleaned_data.head()

   cook  eating_out  employment  ethnic_food
0   2.0           3         3.0            1
1   3.0           2         2.0            4
2   1.0           2         3.0            5
3   2.0           2         3.0            5
4   1.0           2         2.0            4

In [ ]:
# In [8]
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(10, 6))
sns.boxplot(data=cleaned_data)
plt.title('Distribution of Features')
plt.xlabel('Features')
plt.ylabel('Values')
plt.xticks(rotation=45)
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

In [12]:
# In [9]
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt

inertia_values = []
k_values = range(1, 11)

for k in k_values:
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(cleaned_data.select_dtypes(include='number'))
    inertia_values.append(kmeans.inertia_)

plt.figure(figsize=(8, 5))
plt.plot(k_values, inertia_values, marker='o')
plt.title('Elbow Method for Optimal K')
plt.xlabel('Number of Clusters (K)')
plt.ylabel('Inertia')
plt.show()

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
# In [10]
data = {
    'Latitude': [12.9228, 12.9686, 12.9534, 12.9434, 12.9735, 12.9956, 12.8975, 12.9640],
    'Longitude': [77.5921, 77.6066, 77.5940, 77.6853, 77.1026, 77.8975, 77.2454, 77.1200],
    'Restaurant_Count': [10, 7, 12, 5, 1, 8, 6, 20],
    'Gym_Count': [2, 3, 4, 3, 8, 9, 6, 4],
    'School_Count': [3, 4, 5, 5, 7, 12, 16, 13],
    'Hospital_Count': [3, 2, 4, 12, 14, 18, 20, 1]
}

df = pd.DataFrame(data)
df.to_csv('geolocational_data.csv', index=False)
df.head()

In [ ]:
# In [11]
# Select Latitude, Longitude, and one feature for clustering
feature = 'Restaurant_Count'
df2 = df[['Latitude', 'Longitude', feature]]

# Elbow Method for this feature
inertia_values = []
k_values = range(1, 11)

for k in k_values:
    kmeans = KMeans(n_clusters=k, random_state=42)
    kmeans.fit(df2[[feature]])
    inertia_values.append(kmeans.inertia_)

plt.plot(k_values, inertia_values, marker='o')
plt.xlabel('Number of Clusters (K)')
plt.ylabel('Inertia')
plt.title(f'Elbow Method for {feature}')
plt.show()

In [ ]:
# In [12]
import folium
from sklearn.cluster import KMeans

# Fit KMeans clustering (assuming K=4)
kmeans = KMeans(n_clusters=4, random_state=42)
df['Cluster'] = kmeans.fit_predict(df[['Latitude', 'Longitude']])

# Create a Folium map
center_lat, center_lon = df['Latitude'].mean(), df['Longitude'].mean()
m = folium.Map(location=[center_lat, center_lon], zoom_start=12)

# Assign colors to clusters
colors = ['red', 'blue', 'green', 'purple']

for _, row in df.iterrows():
    folium.CircleMarker(
        location=[row['Latitude'], row['Longitude']],
        radius=5,
        color=colors[row['Cluster']],
        fill=True,
        fill_color=colors[row['Cluster']],
        popup=f"Cluster: {row['Cluster']}"
    ).add_to(m)

# Save interactive map
m.save('clustered_locations_map.html')
m